body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #ffffff;
  }


/* Estilo do Header */
header {
    background-color: #004080;
    padding: 20px 0;
    color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        margin-bottom: 10px;
        text-align: center;
    }
}

/* Estilo da Página do Cliente */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h5 {
    text-align: center;
    color: #004080;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.info-cliente, .processos {
    margin-bottom: 30px;
}

.info-cliente h2, .processos h2 {
    color: #004080;
    font-size: 22px;
    margin-bottom: 10px;
}

.info-cliente p, .processos ul {
    font-size: 16px;
    color: #333;
}

.processos ul {
    list-style: none;
    padding-left: 0;
}

.processos ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

button.btn {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button.btn:hover {
    background-color: #003060;
}
