body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: #f4f4f4;
}

/* Estilo do Header */
header {
    background-color: #004080; 
    padding: 20px 0;
    color: white;
    box-shadow: 0 4px 2px -2px gray;
}

.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espaço entre os itens do menu */
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Cor ao passar o mouse sobre os links */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        margin-bottom: 10px;
    }
}




nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    background: rgb(61, 61, 61);
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

h2 {
    color: #ffffff;
}

footer {
    background-color: #001f41;
    color: white;
    text-align: center;
    padding: 10px 0;
}
